################################################################################
## Database
################################################################################

# Settings for database connection
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
USE_SSL=

################################################################################
## General
################################################################################

# Settings for HTTP server
PORT=
FIREBASE_SERVICE_ACCOUNT_BASE64=


# Paystack
PAYSTACK_BASEURL=
PAYSTACK_SECRET_KEY=